@value colors: "../../../styles/colors.css";
@value primaryColor, secondaryColor, tertiaryColor, disabledColor from colors;

.button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    text-transform: capitalize;
}

.button:hover {
    cursor: pointer;
}

.button.disabled {
    background-color: disabledColor;
}

.primary {
    background-color: primaryColor;
    color: tertiaryColor;
    border-radius: 8px;
}

.primary:hover {
    background-color: #174a8a;
}

.secondary {
    background-color: none;
}

/* TODO: find the best way to override base/text color */
.secondary > * {
    color: secondaryColor !important;
}

.secondary:hover > * {
    color: primaryColor !important;
}
