@value colors: "../../../styles/colors.css";
@value secondaryColor, highlightColor, highlightBgColor from colors;

.card {
    padding: 16px;
    border: 1px solid secondaryColor;
    border-radius: 8px;
    outline: none;
    background: none;
    text-align: left;
    width: 100%;
}

.card:hover {
    cursor: pointer;
    border-color: highlightColor;
}

.card.active {
    border-color: highlightColor;
    background-color: highlightBgColor;
}

.icon {
    margin-bottom: 36px;
}

.title {
    margin-bottom: 8px;
}

.description {
    margin-top: 5px;
}
