@value colors: "../../../styles/colors.css";
@value primaryColor, secondaryColor, tertiaryColor from colors;
@import url('../../../styles/fonts.css');

.primary {
    color: primaryColor;
}

.secondary {
    color: secondaryColor;
}

.tertiary {
    color: tertiaryColor;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.text {
    font-family: ubuntu-regular;
}

.title {
    font-family: ubuntu-bold;
}

.large {
    font-size: 32px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 12px;
}
