.modalLayer {
}

.dialog {
    display: flex;
}

.header {
    margin-bottom: 32px;
}

.title {
    margin-bottom: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
}

.innerContent {
    flex-grow: 2;
}

.footer {
}

.innerFooter {
    display: flex;
}

.sidebar {
    padding: 32px;
    /* 
     * TODO: configure webpack to handle svg in .css files
     * background-image: url(../../../assets/images/bg-sidebar-desktop.svg?encodiong=base64); 
     */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    min-height: 500px;
}

.stepCard {
    margin-bottom: 16px;
}
